body {
    background: hsl(0, 0%, 95%);
}

main {
    min-width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em ;
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color:  hsla(0, 0%, 100%, 0.75);
}

button {
    width: 150px;
    height: 50px; 
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;  
    border-radius: 40px;
    background: hsl(0, 0%, 95%);
    border: none;
    cursor: pointer;
    margin-top: 150px;
}

button:hover {
    border: 2px solid #fff;
    color: #fff;
}

button:active {
    transform: scale(0.98);
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    padding: 40px;
}

.button-sedans {
    color: hsl(31, 77%, 52%);
}

.button-sedans:hover {
    background: hsl(31, 77%, 52%);
}

.suvs {
    background: hsl(184, 100%, 22%);
    padding: 40px;
}

.button-suvs {
    color: hsl(184, 100%, 22%);
}

.button-suvs:hover {
    background: hsl(184, 100%, 22%);
}

.luxury {
    background-color:  hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    padding: 40px;
}

.button-luxury {
    color: hsl(179, 100%, 13%);
}

.button-luxury:hover {
    background: hsl(179, 100%, 13%);
}

.mensagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label {
    font-size: 23px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 3px 3px 6px black;
    padding: 10px;
    background: hsl(0, 0%, 95%);
}

input::placeholder {
    color: black;
}

.btn-sugestoes {
    border: 2px solid black;
}

.btn-sugestoes:hover {
    background: #bc1a2d;
}
.btn-sugestoes:active {
    box-shadow: 3px 3px 6px black ;
}