body {
    background: hsl(0, 0%, 95%);
}

main {
    width: 1440px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 3em ;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 400;
    color: #fff;
}

button {
    width: 150px;
    height: 50px; 
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 700;
    font-size: 15px;  
    border-radius: 40px;
    background: hsl(0, 0%, 95%);
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.button-sedans {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background: hsl(184, 100%, 22%);
}

.button-suvs {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color:  hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.button-luxury {
    color: hsl(179, 100%, 13%);
}